<!DOCTYPE html>
<html lang="es">
  <%- include('./layout/head'); %>

  <body>
    <%- include('./layout/nav'); %>
    <br />
    <div class="row container centered" width="100vw">
      <div class="text-center">
        <h2>Usuarios</h2>
      </div>
      <br />
      <br />
      <br />
      <%- include('./layout/tableHover'); %>
      <br />
      <br />
      <div class="float-start">
        <a href="./add" class="btn primary-btn">Añadir usuario</a>
      </div>
    </div>
    <%- include('./layout/footer'); %>
  </body>
</html>
