<!DOCTYPE html>
<html lang="es">
  <%- include('./layout/head'); %>

  <body onload="counter()">
    <%- include('./layout/nav'); %>
    <div class="container">
      <div class="centered text-center" id="message-div">
        <h4><%= message %></h4>
        <h5>
          <div id="timer"></div>
        </h5>
      </div>
    </div>
    <%- include('./layout/footer'); %>
  </body>
</html>
