<option value="Barinas">Amazonas</option>
<option value="Anzoátegui">Anzoátegui</option>
<option value="Apure">Apure</option>
<option value="Aragua">Aragua</option>
<option value="Barinas">Barinas</option>
<option value="Bolívar">Bolívar</option>
<option value="Carabobo">Carabobo</option>
<option value="Cojedes">Cojedes</option>
<option value="Delta Amacuro">Delta Amacuro</option>
<option value="Dependencias Federales">Dependencias Federales</option>
<option value="Distrito Federal">Distrito Federal</option>
<option value="Falcón">Falcón</option>
<option value="Guárico">Guárico</option>
<option value="Lara">Lara</option>
<option value="Mérida">Mérida</option>
<option value="Miranda">Miranda</option>
<option value="Monagas">Monagas</option>
<option value="Nueva Esparta">Nueva Esparta</option>
<option value="Portuguesa">Portuguesa</option>
<option value="Táchira">Táchira</option>
<option value="Trujillo">Trujillo</option>
<option value="Vargas">Vargas</option>
<option value="Yaracuy ">Yaracuy</option>
<option value="Zulia">Zulia</option>
